<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여행 일정</title>

    <!-- 부트스트랩 CSS 링크 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        /* 여기에 사용자 정의 스타일 추가 가능 */
        body {
            background-image: url('/media/intro2.jpg'); /* 이미지 파일 경로에 맞게 수정 */

            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 50px; /* Navbar가 페이지 내용을 가리지 않도록 조절 */
        }

        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">LOVE TRIP</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <a href="{% url 'users-profile' %}" class="nav-item nav-link">마이프로필</a>
                <a href="{% url 'logout' %}" class="nav-item nav-link">로그아웃</a>
            {% else %}
                <a href="{% url 'login' %}" class="nav-item nav-link">로그인</a>
            {% endif %}
        </div>
    </div>
</nav>


<div id="map" style="height: 400px; width: 78%; margin: 0 auto; opacity: 0.8;"></div>

<script>
    var map;
    var markers = [];
    var directionsService;
    var directionsRenderer;
    var originMarker = null;
    var destinationMarker = null;

    function initMap() {
        {% for index, result in results.iterrows %}
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: {{ result.latitude}}, lng: {{ result.longitude }}},
            zoom: 15,
        });
        {% endfor %}

        directionsService = new google.maps.DirectionsService();
        directionsRenderer = new google.maps.DirectionsRenderer({
            map: map,
            suppressMarkers: true,
        });

        var locations = [];
        var cnt = 1;

        {% for index, result in results.iterrows %}
            locations.push({
                lat: {{ result.latitude }},
                lng: {{ result.longitude }},
                label: cnt,
                name: '{{ result.name }}'
            });
            cnt++;
        {% endfor %}


        var waypoints = [];
        var origin = null;
        var destination = null;

        for (var i = 0; i < locations.length; i++) {
            var marker = new google.maps.Marker({
                position: locations[i],
                map: map,
                title: locations[i].name,
                label: locations[i].label.toString(),
            });

            marker.addListener('click', function () {
                if (originMarker === null) {
                    originMarker = this;
                    originMarker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
                } else if (destinationMarker === null) {
                    destinationMarker = this;
                    destinationMarker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
                    calculateDistanceAndDisplayRoute(originMarker.getPosition(), destinationMarker.getPosition());
                    originMarker.setIcon(null);
                    destinationMarker.setIcon(null);
                    originMarker = null;
                    destinationMarker = null;
                }
            });

            markers.push(marker);

            if (i === 0) {
                origin = marker.getPosition();
            } else if (i === locations.length - 1) {
                destination = marker.getPosition();
            } else {
                waypoints.push({
                    location: marker.getPosition(),
                    stopover: true,
                });
            }
        }
    }

    function calculateDistanceAndDisplayRoute(origin, destination, waypoints) {
        var directionsService = new google.maps.DirectionsService();
        var request = {
            origin: origin,
            destination: destination,
            provideRouteAlternatives: true,
            travelMode: google.maps.TravelMode.DRIVING,
            drivingOptions: {
                departureTime: new Date(),
                trafficModel: 'pessimistic'
            }
        };

        directionsService.route(request, function (result, status) {
            if (status == 'OK') {
                var leg = result.routes[0].legs[0];
                alert('이동 거리: ' + leg.distance.text + ', 예상 이동 시간: ' + leg.duration.text +
                    ', 현재 교통 상황을 고려한 예상 이동 시간: ' + leg.duration_in_traffic.text);

                // 기존 경로 지우기
                if (directionsRenderer) {
                    directionsRenderer.setMap(null);
                }

                directionsRenderer = new google.maps.DirectionsRenderer({
                    map: map,
                    suppressMarkers: true,
                });
                directionsRenderer.setDirections(result);
            }
        });
    }
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuTKuky_Mpk7I2XA4oL0RI1lrV0Aq7FKs&callback=initMap" async
        defer></script>

<div class="container">
    <h2 class="mb-4">🚀{{ travel_response.duration }}의 여행일정</h2>

    {% for index, result in results.iterrows %}
        <div class="card" id="location-card-{{ forloop.counter }}">
            <div class="card-body">
                <h5 class="card-title">{{ forloop.counter }}일째😊</h5>
                <p class="card-text">
                    <strong>여행지:</strong> {{ result.name }}
                    <br>
                    <strong>위도:</strong> {{ result.latitude }}
                    <strong>경도:</strong> {{ result.longitude }}
                    <br>
                    <strong>여행 키워드:</strong> {{ result.keyword }}
                </p>
            </div>
        </div>
    {% endfor %}

</div>


<!-- 부트스트랩 JS 및 Popper.js, jQuery 스크립트 추가 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>