{% extends "users/base.html" %}
{% block title %} Login Page {% endblock title %}
{% block content %}

<style>
    /* 스타일 설정 */
    .card {
        background-color: rgba(255, 255, 255, 0.4);
        font-family: 'Your_Custom_Font', Noto Sans;
        min-height: 91%; /* 카드의 최소 높이 설정 */
    }

    .card-header h3 {
        font-size: 1.4em;
    }

    .form-group label, .form-group input {
        font-size: 1.2em;
        border-color: #000;
    }

    #login {
        font-size: 1.3em;
        background-color: #000;
        color: #fff;
        border-color: #000;
    }

    .card-footer .small {
        font-size: 1.2em;
    }

    .card-footer .small a {
        color: #000;
    }

    /* 배경 이미지 설정 */
    .bg-image {
        width: 120vh;
        height: 100vh;
    }

    body, html {
        height: 100%; /* body와 html의 높이를 100%로 설정 */
        overflow: hidden; /* 스크롤을 숨김 */
    }
</style>

<div class="row no-gutters">
    <!-- 좌측: 배경 사진 -->
    <div class="col-md-8 bg-image">
        <div id="carouselExampleIndicators" class="carousel slide h-100" data-ride="carousel">
            <div class="carousel-inner h-100">
                <div class="carousel-item active h-100">
                    <img class="d-block w-100 h-100" src="/media/trip1.jpg" alt="First slide">
                </div>
                <div class="carousel-item h-100">
                    <img class="d-block w-100 h-100" src="/media/trip2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item h-100">
                    <img class="d-block w-100 h-100" src="/media/trip3.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- 우측: 로그인 폼 -->

    <div class="card shadow-lg border-0 rounded-lg mt-5 mb-3">
        <div class="card-header justify-content-center">
            <h3 class="font-weight-light my-1 text-center">로그인</h3>
        </div>
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-10 offset-md-1">
                        <div class="form-group">
                            <label class="small mb-1">아이디</label>
                            {{ form.username }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-10 offset-md-1">
                        <div class="form-group">
                            <label class="small mb-1">비밀번호</label>
                            {{ form.password }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-10 offset-md-1">
                        <div class="form-group">
                            {{ form.remember_me }}
                            <label> 아이디 저장 </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-10 offset-md-1">
                        <div class="form-group mt-0 mb-1">
                            <button name="login" class="col-md-12 btn btn-dark" id="login">로그인</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <div class="small">
                <a href="{% url 'users-register' %}">회원가입</a><br>
                <a href="{% url 'password_reset' %}"><i>비밀번호를 잊어버리셨나요?</i></a>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
